atomicwrites==1.3.0
attrs==19.1.0
future==0.17.1
importlib-metadata==0.23
iso8601==0.1.12
more-itertools==7.2.0
pluggy==0.13.0
py==1.8.0
pytest==3.10.1
PyYAML==5.1.2
serial==0.0.97
six==1.12.0
zipp==0.6.0
